<div class="container">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
        <div class="logo" >
            <img src="../../../assets/images/logo.png">
        </div>
        <div class="heading">
            <span class="txt">Employee</span><br>
            <span class="txt">Payroll</span>                      
        </div>
    </div>

    <div class="display-book">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <span>Copyright © 2022, Employee Payroll Private Limited. All Rights Reserved</span>
    </footer>
</div>
