<div class="container" fxLayout="row" fxLayoutAlign="center center">

    <div class="logo-img">
        <img class="img1" src="../../../assets/logo.jpg">
    </div>

    <div class="register-login" fxLayout="column" fxLayoutAlign="space-evenly center">

        <div class="header" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="82px">
            <div>
                <button class="login" routerLink="/login">LOGIN</button>
            </div>
            <!-- <div class="signup-div"> -->
                <!-- <button class="signup" routerLink="/registration">SIGNUP</button> -->
            <!-- </div> -->
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="formcontainer">
        <div class="formfield">
            <div class="emaiId" fxLayout="column" fxLayoutAlign="start start" >
                <mat-label>Email Id</mat-label>
                <mat-form-field appearance="outline" >
                    <input matInput type="email" formControlName="email" class="emailInput"  >
                    <mat-error>Enter valid email</mat-error>
                </mat-form-field>
            </div>

            <div class="password" fxLayout="column" fxLayoutAlign="start start">
                <mat-label>Password</mat-label>
                <mat-form-field appearance="outline" >
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button type="button" matSuffix (click)="hide = !hide">
                        <mat-icon style="color:#9D9D9D">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Enter valid password</mat-error>
                </mat-form-field>
              </div>
            
                  <button mat-raised-button type="submit" class="btn-primary" style="background-color: #A03037;" >Login</button>
                </div>
        </form>
    </div>
</div>
