<div class="container">
    <div class="sub_container">
        <div class="btn" fxLayout="row" fxLayoutAlign="space-between center">
            <h2>Employee Payroll</h2>
            <button mat-raised-button class="addbtn">Add Employee</button>
        </div>
        <table mat-table  class="mat-elevation-z8 demo-table">
            <!-- Position Column -->
            
            <ng-container matColumnDef="EmpId">
              <th class="theader" mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{element.EmpId}}</td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="Name">
              <th class="theader" mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="Gender">
              <th class="theader" mat-header-cell *matHeaderCellDef>Gender</th>
              <td mat-cell *matCellDef="let element">{{element.gender}}</td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="Department">
              <th class="theader" mat-header-cell *matHeaderCellDef>Department</th>
              <td mat-cell *matCellDef="let element">{{element.department}}</td>
            </ng-container>

            <ng-container matColumnDef="Salary">
                <th class="theader" mat-header-cell *matHeaderCellDef>Salary</th>
                <td mat-cell *matCellDef="let element">{{element.salary}}</td>
              </ng-container>
            
              <ng-container matColumnDef="Start Date">
                <th class="theader" mat-header-cell *matHeaderCellDef>Start Date</th>
                <td mat-cell *matCellDef="let element">{{element.startDate}}</td>
              </ng-container>

              <ng-container matColumnDef="Action">
                <th class="theader" mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         
            <tr
                mat-row
                *ngFor="let row of EmpList"
                
            ><button mat-icon-button color="blue" aria-label="Example icon button with a heart icon">
              <mat-icon>Delete</mat-icon>
              <mat-icon>Edit</mat-icon>
            </button></tr>
          
          </table>
    </div>
</div>

